<h1><%= @doctor.name %>'s Show Page</h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>University: <%= @doctor.university %></p>
<p>Hospital: <%= @doctor.hospital.name %></p>

<h3>Doctor's Patients:</h3>
  
<p><%= @doctor.doc_patients %><p>
